# App Config
APP_NAME=gopher-foody-order-service
APP_ENV=development
APP_HTTP_PORT=8003
APP_SECRET_KEY=your_secret_key_here


# Database Config
DATABASE_HOST=foody-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DBNAME=foody_order_db

# Logger Config
LOGGER_LEVEL=debug
KAFKA_BROKERS=kafka:9092

